/* WORK SANS FONT */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,400;0,500;0,600;0,700;0,800;1,600&display=swap');

* {
    font-family: 'Work Sans', sans-serif;
}

/* HEADER STYLES */

header {
    background-color: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-title {
    color: #131313;
    font-family: Work Sans;
    font-size: 45px;
    font-weight: 700;
}

nav>ul {
    display: flex;
    justify-content: space-between;
}

nav ul li {
    font-family: Work Sans;
    font-size: 1.1rem;
    font-weight: 500;
    line-height: 26px;
    list-style: none;
    margin-right: 30px;
}

nav li a {
    text-decoration: none;
    color: #424242;
}

/* BANNER STYLES */
.banner img {
    width: 100%;
}

.banner-content {
    max-width: 860px;
    margin: 0 auto;
    text-align: center;
}

.banner-title {
    color: #131313;
    font-size: 4rem;
    font-weight: 700;
}

.banner-description {
    color: #727272;
}

.btn-primary {
    border-radius: 8px;
    background: #FF900E;
    padding: 20px 25px;
    color: #FFF;
    font-size: 1.25rem;
    font-weight: 600;
    border: 0;
    margin-bottom: 20px;
}

/* MAIN SECTION STYLES */

/* TEAM SECTION */
main {
    max-width: 1200px;
    margin: 0 auto;
}

.team-container {
    display: flex;
    align-items: center;
}

.team-img {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}

.team-content {
    margin-left: 70px;
    margin-right: 30px;
}

.team-container .quick {
    color: #727272;
    font-size: 2.8rem;
    font-weight: 500;
}

.team-container .of-our {
    color: #131313;
    font-size: 2.8rem;
    font-weight: 700;
}

.team-container .text-feature {
    color: #FF900E;
    font-size: 2.8rem;
    font-weight: 700;
}

/* FEATURES SECTION STYLE */

/* FACT SECTION STYLE */
.facts>.fact-title {
    color: #131313;
    font-size: 2.8rem;
    font-weight: 700;
}

.facts .fact-description {
    color: #727272;
}

.fact-card-container {
    display: flex;
    justify-content: space-around;

}

.fact-card-container .card {
    border-radius: 8px;
    border: 1px solid #FF900E;
    text-align: center;
    padding: 20px;
}

.fact-card-container .card-stat{
    color: #424242;
    font-size: 2.8rem;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 5px;
}

.fact-card-container .card-title{
    color: #727272;
    font-size: 1.25rem;
    font-weight: 600;
}